<h1>About Flatmate Helper App</h1>
</br></br></br>

<h2>
  Architektura Serwisów Internetowych
</h2>

<h3>
  Autor: Dariusz Buszman
</h3>

<br><br>
<p align = center>This app is for flatmates to manage their duties and payments</p>
