<div class="center jumbotron">
  <h1>Flatmate Helper App</h1>

  <h2>
    Welcome to my application for managing flatmates.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
